<h3 style="color: blue"> Demo Ng-Content</h3>
<div class="container">
    <div class="row">
        <div class="col-4">
            <app-item-card>
                <ng-container class="tenSP">Iphone X</ng-container>
                <ng-container class="moTaSP">Điện thoại siu xịn</ng-container>
                <ng-container class="giaSP">2 nghìn :)</ng-container>
            </app-item-card>
        </div>
        <div class="col-4">
            <app-item-card>
                <ng-container class="tenSP">Oppo A83</ng-container>
                <ng-container class="moTaSP">Điện thoại siu mỏng</ng-container>
                <ng-container class="giaSP">5 nghìn :)</ng-container>
            </app-item-card>
        </div>
        <div class="col-4">
            <app-item-card>
                <ng-container class="tenSP">Sony</ng-container>
                <ng-container class="moTaSP">Điện thoại siu bền</ng-container>
                <ng-container class="giaSP">3 nghìn :)</ng-container>
            </app-item-card>
        </div>
    </div>
</div>